@import '../../Resources/Styles/BaseStyles';

.cb-scene-builder-card-wrapper {
    display: flex;
    height: 100%;
    width: 100%;

    .cb-scene-builder-canvas {
        flex-grow: 1;
    }

    .cb-base-composite-card-item {
        overflow: hidden;
    }

    .cb-base-composite-card-item:last-child {
        flex-grow: 1;
    }
}

.cb-scene-builder-left-panel {
    background-color: var(--cb-color-bg-canvas);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 360px;

    .cb-scene-builder-left-panel-collapse-chevron-header {
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 4px;

        span {
            padding-left: 4px;
        }
    }

    .cb-scene-builder-pivot-contents {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .cb-scene-builder-cancel-button {
        margin-left: 8px;
    }

    .cb-scene-builder-create-button {
        height: 32px;
        max-width: 200px;
        min-height: 32px;
        width: fit-content;
    }

    .cb-chevron {
        display: inline-block;
        font-size: 12px;

        &.cb-expanded {
            transform: rotate(90deg);
        }

        &.cb-collapsed {
            transform: rotate(0deg);
        }
    }

    .cb-breadcrumb {
        padding-left: 4px;
        transform: rotate(180deg);
    }

    .cb-remove-object-button {
        color: var(--cb-color-inactive);

        &:hover {
            color: var(--cb-color-text-danger) !important;
        }
    }

    .cb-widget-panel-action-button {
        color: var(--cb-color-theme-primary);
    }

    .cb-search-autocomplete-container {
        position: inherit !important;
    }

    /* stylelint-disable selector-class-pattern */
    .cb-search-autocomplete__menu {
        max-height: calc(100% - 63px);
        top: 62px;

        > div:first-child {
            height: 100%;
        }
    }

    .cb-search-autocomplete__menu-list {
        height: 100%;
    }
    /* stylelint-enable selector-class-pattern */
}

.cb-widget-dialog-search-box {
    margin-top: 10px;
}

.cb-widget-dialog-list-item {
    border: 1px solid var(--cb-color-text-primary);
    float: left;
    height: 82px;
    margin: 10px;
    padding: 4px;
    width: 272px;

    &:hover {
        cursor: pointer;
    }
}

.cb-widget-library-dialog-list-container {
    height: 204px;
}

.cb-widget-dialog-list-item-selected {
    border: 2px solid var(--cb-color-theme-primary);
}

.cb-widget-panel-clear-float::after {
    clear: both;
    content: '';
    display: table;
}

.cb-widget-dialog-list-item-content {
    display: flex;
}

.cb-widget-dialog-icon {
    color: var(--cb-color-bg-canvas);
    font-size: 30px;
    margin: 10px;
}

.cb-widget-dialog-icon-background {
    background-color: var(--cb-color-theme-primary);
    border-radius: 5px;
    height: 50px;
    margin: 8px 10px 6px 6px;
    width: 50px;
}

.cb-widget-dialog-modal {
    min-height: 445px;
    min-width: 740px;
}

.cb-widget-panel-no-widgets {
    height: 204px;
    padding: 20px;
}

.cb-widget-panel-item-label {
    font-size: smaller;
    font-weight: normal;
    padding: 0;
}

.cb-scene-builder-left-panel-pivot {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;

    > div:last-child {
        display: flex;
        flex-grow: 1;
        overflow: auto;

        > div:first-child {
            flex-grow: 1;
        }
    }
}

.cb-widget-builder-description {
    color: var(--cb-color-text-secondary);
    font-size: 14px;
}

.cb-scene-builder-behavior-elements {
    margin-bottom: 20px;
    margin-top: 20px;
}

.cb-scene-builder-elements-title {
    font-size: 14px;
    margin-bottom: 8px;
}

.cb-scene-builder-done-button {
    height: 32px;
    max-width: 200px;
    min-height: 32px;
    width: fit-content;
}

.cb-left-panel-builder-breadcrumb-container {
    height: 36px;
    margin-bottom: 4px;
    width: 100%;
}

.cb-left-panel-builder-breadcrumb-home-icon-container {
    align-items: center;
    background-color: unset;
    border: unset;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    margin-right: 2px;
    width: 32px;
}
.cb-left-panel-builder-breadcrumb-home-icon {
    color: var(--cb-color-text-primary);
    font-size: 16px;
    margin-bottom: 2px;
}

.cb-left-panel-builder-breadcrumb {
    left: 0;
    position: relative;
    transform: scale(1);
    transform-origin: left;
    transition: transform 0.15s ease;
    &.cb-left-panel-builder-breadcrumb-scene-root {
        transform: scale(1.2);
    }
}

.cb-scene-builder-footer-container {
    align-items: end;
    border-top: 1px solid var(--cb-color-natural-light);
    display: flex;
    height: 56px;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
