@import '../../Resources/Styles/BaseStyles';

.cb-scene-builder-card-wrapper {
    .cb-base-composite-card-item {
        overflow: hidden;
    }

    .cb-base-composite-card-item:last-child {
        flex-grow: 1;
    }
}

.cb-scene-builder-pivot-contents {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.cb-scene-builder-cancel-button {
    margin-left: 8px;
}

.cb-scene-builder-create-button {
    height: 32px;
    max-width: 200px;
    min-height: 32px;
    width: fit-content;
}

/* stylelint-disable selector-class-pattern */
.cb-search-autocomplete__menu {
    > div:first-child {
        height: 100%;
    }
}

.cb-search-autocomplete__menu-list {
    height: 100%;
}
/* stylelint-enable selector-class-pattern */

.cb-widget-dialog-list-item {
    float: left;
    height: 82px;
    margin: 12px 24px 12px 0;
    padding: 4px;
    width: 272px;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        label,
        span {
            color: var(--cb-color-inactive) !important;
        }
    }
}

.cb-widget-dialog-list-item-selected {
    border: 1px solid var(--cb-color-theme-primary);
}

.cb-widget-library-dialog-list-container {
    height: 204px;
}

.cb-widget-dialog-icon {
    color: var(--cb-color-bg-canvas);
    font-size: 30px;
    margin: 10px;
}

.cb-widget-dialog-icon-container {
    background-color: var(--cb-color-theme-primary);
    border-radius: 5px;
    flex-shrink: 0 !important;
    height: 50px;
    justify-content: center;
    margin: 8px 10px 6px 6px;
    width: 50px;
}

.cb-widget-dialog-modal {
    min-height: 445px;
    min-width: 640px;
}

.cb-scene-builder-left-panel-pivot {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;

    > div:last-child {
        display: flex;
        flex-grow: 1;
        overflow: auto;

        > div:first-child {
            flex-grow: 1;
        }
    }
}

.cb-left-panel-builder-breadcrumb-container {
    @include cb-scene-builder-left-panel-block;
    height: 36px;
    margin-bottom: 4px;
    width: 100%;
}

.cb-left-panel-builder-breadcrumb {
    left: 0;
    position: relative;
    transform: scale(1);
    transform-origin: left;
    transition: transform 0.15s ease;
    &.cb-left-panel-builder-breadcrumb-scene-root {
        transform: scale(1.2);
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
