.cb-adt3dbuilder-wrapper {
    height: 100%;
    width: 100%;
}
.cb-adt3dbuilder-mesh-list-container {
    left: 18px;
    position: absolute;
    top: 10px;
}

.cb-adt3dbuilder-mesh-list-title {
    font-weight: bold;
}

.cb-object-list-hover {
    cursor: pointer;
}

.cb-object {
    padding: 20px;
}

.cb-object-list {
    display: flex;
    flex-direction: column;
}

.cb-object-list-buttons {
    margin: 5px;
}

.cb-scene-view-builder {
    height: 600px;
}
