.cb-autocomplete-container {
    border: 1px solid var(cb-color-input-border);
    display: flex;
    flex-direction: column;
}

.cb-autocomplete-item {
    color: var(cb-color-text-primary);
    cursor: pointer;
    padding: 5px;
    &:hover {
        background-color: #ccc;
    }
}

.cb-autocomplete-item-selected {
    background-color: #ccc;
}
