.cb-hbcard-container {
    height: 100%;
    min-height: 600px;
    width: 1280px;

    .cb-hbcard-hierarchy {
        height: 100%;
        width: 260px;
    }

    .cb-hbcard-board {
        flex-grow: 1;
        margin-left: 12px;
        overflow: auto;
    }

    .cb-board {
        grid-template-rows: 80px;
    }

    .cb-base-composite-card-item:last-child {
        flex-grow: 1;
    }
}
