@import '../../../Resources/Styles/BaseStyles';

.cb-base-card {
    @include ms-depth-16;
    align-items: center;
    background: var(--color-bg-canvas);
    color: var(--color-text-primary);
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 2;
    .cb-loading {
        background: var(--color-bg-canvas-inset);
        border-radius: 3px;
        padding: 20px;
    }
    .cb-base-card-title {
        align-items: center;
        border-bottom: 1px solid var(--color-bg-canvas-inset);
        display: flex;
        font-size: 14px;
        font-weight: 600;
        height: 40px;
        padding: 0 16px;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .cb-base-card-content {
        height: calc(100% - 80px);
        margin: 20px;
        position: absolute;
        top: 40px;
        width: calc(100% - 40px);
    }
}
