@import '../../../Resources/Styles/BaseStyles';

.cb-base-card {
    @include ms-depth-4;
    align-items: center;
    background: var(--cb-color-bg-canvas);
    border: 1px solid var(--cb-color-card-border);
    border-radius: 4px;
    color: var(--cb-color-text-primary);
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 2;
    .cb-base-card-title {
        align-items: center;
        border-bottom: 1px solid var(--cb-color-bg-canvas-inset);
        display: flex;
        font-size: 14px;
        font-weight: 600;
        height: 40px;
        margin: 0;
        padding: 0 16px;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .cb-base-card-content {
        align-items: center;
        display: flex;
        height: calc(100% - 40px);
        justify-content: center;
        padding: 20px 0;
        position: absolute;
        top: 40px;
        width: calc(100%);
    }
}
