@import '../../Resources/Styles/BaseStyles';

.cb-file-uploader {
    display: flex;
    flex-direction: column;
    min-height: 0;
    width: 100%;

    .cb-file-list {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .cb-warning-icon {
        cursor: 'default';
        font-size: 16px;
    }
}

/* stylelint-disable indentation */
.cb-drop-files-container {
    align-items: center;
    background-image: linear-gradient(
            to right,
            var(--cb-color-file-dropzone-border) 50%,
            rgba(255, 255, 255, 0) 0%
        ),
        linear-gradient(
            var(--cb-color-file-dropzone-border) 50%,
            rgba(255, 255, 255, 0) 0%
        ),
        linear-gradient(
            to right,
            var(--cb-color-file-dropzone-border) 50%,
            rgba(255, 255, 255, 0) 0%
        ),
        linear-gradient(
            var(--cb-color-file-dropzone-border) 50%,
            rgba(255, 255, 255, 0) 0%
        );
    background-position: top, right, bottom, left;
    background-repeat: repeat-x, repeat-y;
    background-size: 16px 1px, 1px 16px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    height: 180px;
    line-height: 18px;
    padding: 32px 40px;
    width: 304px;

    &.cb-dropzone-is-drag-accept {
        background-image: linear-gradient(
                to right,
                var(--cb-color-theme-primary) 50%,
                rgba(255, 255, 255, 0) 0%
            ),
            linear-gradient(
                var(--cb-color-theme-primary) 50%,
                rgba(255, 255, 255, 0) 0%
            ),
            linear-gradient(
                to right,
                var(--cb-color-theme-primary) 50%,
                rgba(255, 255, 255, 0) 0%
            ),
            linear-gradient(
                var(--cb-color-theme-primary) 50%,
                rgba(255, 255, 255, 0) 0%
            );
    }

    &.cb-dropzone-is-drag-reject {
        background-image: linear-gradient(
                to right,
                var(--cb-color-theme-primary) 50%,
                rgba(255, 255, 255, 0) 0%
            ),
            linear-gradient(
                var(--cb-color-theme-primary) 50%,
                rgba(255, 255, 255, 0) 0%
            ),
            linear-gradient(
                to right,
                var(--cb-color-theme-primary) 50%,
                rgba(255, 255, 255, 0) 0%
            ),
            linear-gradient(
                var(--cb-color-theme-primary) 50%,
                rgba(255, 255, 255, 0) 0%
            );
    }

    button {
        margin-top: 8px;
    }
}
/* stylelint-enable indentation */
