@import '../../../Resources/Styles/BaseStyles';

.cb-infotable-card {
    @include ms-depth-16;
    background: var(--cb-color-bg-canvas);
    border: 1px solid var(--cb-color-card-border);
    border-radius: 4px;
    color: var(--cb-color-text-primary);
    padding: 10px;
    height: 100%;

    .table-header {
        text-align: left;
        color: rgba(var(--cb-color-text-primary), 0.5);
    }

    .table-cell {
        padding: 0 8px;
    }
}