@import '~@fluentui/react/dist/sass/References'; // Import Fluent UI mixins and variables.

*[class^='cb-'] {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cb-tsicomponent-container {
    height: 100%;
    width: 100%;
}

.cb-warning-icon {
    color: var(--cb-color-text-warning);
}
