[cardboard-data-theme='light'],
:root {
    --cb-color-bg-canvas: #fff;
    --cb-color-bg-canvas-inset: #cacacac4;
    --cb-color-text-primary: #000;
}

[cardboard-data-theme='dark'] {
    --cb-color-bg-canvas: #0d0f0e;
    --cb-color-bg-canvas-inset: #4949499e;
    --cb-color-text-primary: #fff;
}
