[cardboard-data-theme='light'],
:root {
    --cb-color-bg-canvas: #fff;
    --cb-color-bg-canvas-inset: #cacacac4;
    --cb-color-file-dropzone-border: #a19f9d;
    --cb-color-inactive: #afafaf;
    --cb-color-text-danger: #cb2431;
    --cb-color-text-error: #a4262c;
    --cb-color-text-warning: #d58e00;
    --cb-color-success: #32a852;
    --cb-color-card-contrast: #f2f2f2;
    --cb-color-input-border: #605e5c;
    --cb-color-card-border: #ddd;
    --cb-color-text-primary: #000;
    --cb-color-text-secondary: #666;
    --cb-color-theme-primary: #0078d4;
    --cb-color-bg-card: #f9f9f9;
    --cb-color-icon-hover-bg: #f3f2f1;
    --cb-color-natural-light: #edebe9;
    --cb-color-input-edited-bg: #f3f2f1;
    --fluent-color-text-10: #323130;
    --fluent-color-text-20: #666;
    --fluent-color-text-30: #a6a6a6;
    --fluent-color-white: #fff;
    --fluent-color-grey-10: #faf9f8;
    --fluent-color-grey-20: #f3f2f1;
    --fluent-color-grey-30: #dadada;
    --fluent-color-grey-40: #c8c8c8;
    --cb-color-glassy-modal: #faf9f8bf;
    --cb-color-modal-border: #d3d3d3;
}

[cardboard-data-theme='dark'] {
    --cb-color-bg-canvas: #0d0f0e;
    --cb-color-bg-canvas-inset: #080908;
    --cb-color-file-dropzone-border: #333;
    --cb-color-inactive: #afafaf;
    --cb-color-text-danger: #f85149;
    --cb-color-text-error: #751d20;
    --cb-color-text-warning: #b17600;
    --cb-color-success: #32a852;
    --cb-color-card-contrast: #232323;
    --cb-color-input-border: #d0d0d0;
    --cb-color-card-border: #4949499e;
    --cb-color-text-primary: #fff;
    --cb-color-text-secondary: #f2f2f2;
    --cb-color-theme-primary: #058bf2;
    --cb-color-bg-card: #2c2c2c;
    --cb-color-icon-hover-bg: #0d0f0e;
    --cb-color-natural-light: #0c0e0d;
    --cb-color-input-edited-bg: #242424;
    --fluent-color-text-10: #fff;
    --fluent-color-text-20: #f2f2f2;
    --fluent-color-text-30: #a6a6a6;
    --fluent-color-white: #000;
    --fluent-color-grey-10: #292d30;
    --fluent-color-grey-20: #31373e;
    --fluent-color-grey-30: #434343;
    --fluent-color-grey-40: #000;
    --cb-color-glassy-modal: #040404bf;
    --cb-color-modal-border: #424242;
}

[cardboard-data-theme='explorer'] {
    --cb-color-bg-canvas: #222;
    --cb-color-bg-canvas-inset: #141414;
    --cb-color-file-dropzone-border: #333;
    --cb-color-inactive: #afafaf;
    --cb-color-text-danger: #f85149;
    --cb-color-success: #32a852;
    --cb-color-card-contrast: #232323;
    --cb-color-input-border: #777;
    --cb-color-card-border: #434343;
    --cb-color-text-primary: #fff;
    --cb-color-text-secondary: #f2f2f2;
    --cb-color-theme-primary: #60aaff;
    --cb-color-bg-card: #2c2c2c;
    --cb-color-icon-hover-bg: #0d0f0e;
    --cb-color-natural-light: #2d2d2d;
    --cb-color-input-edited-bg: #2d2d2d;
    --fluent-color-text-10: #fff;
    --fluent-color-text-20: #f2f2f2;
    --fluent-color-text-30: #a6a6a6;
    --fluent-color-white: #000;
    --fluent-color-grey-10: #292d30;
    --fluent-color-grey-20: #31373e;
    --fluent-color-grey-30: #434343;
    --fluent-color-grey-40: #000;
    --cb-color-glassy-modal: #404040bf;
    --cb-color-modal-border: #777;
}

[cardboard-data-theme='kraken'] {
    --cb-color-bg-canvas: #16203c;
    --cb-color-bg-canvas-inset: #0d1324;
    --cb-color-file-dropzone-border: #333;
    --cb-color-inactive: #afafaf;
    --cb-color-text-danger: #f85149;
    --cb-color-success: #32a852;
    --cb-color-card-contrast: #232323;
    --cb-color-input-border: #d0d0d0;
    --cb-color-card-border: #303d5c;
    --cb-color-text-primary: #fff;
    --cb-color-text-secondary: #f2f2f2;
    --cb-color-theme-primary: #52baed;
    --cb-color-bg-card: #2c2c2c;
    --cb-color-icon-hover-bg: #212c4d;
    --cb-color-natural-light: #1e2846;
    --cb-color-input-edited-bg: #2e437c;
    --fluent-color-text-10: #fff;
    --fluent-color-text-20: #f2f2f2;
    --fluent-color-text-30: #a6a6a6;
    --fluent-color-white: #000;
    --fluent-color-grey-10: #292d30;
    --fluent-color-grey-20: #31373e;
    --fluent-color-grey-30: #434343;
    --fluent-color-grey-40: #000;
    --cb-color-glassy-modal: #1e2c53bf;
    --cb-color-modal-border: #303d5c;
}
