@import '~@fluentui/react/dist/sass/References'; // Import Fluent UI mixins and variables.

*[class^='cb-'] {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cb-tsicomponent-container {
    height: 100%;
    width: 100%;
}

.cb-warning-icon {
    color: var(--cb-color-text-warning);
}

.cb-base-fade-in {
    animation: fadeIn 0.367s cubic-bezier(0.1, 0.9, 0.2, 1) forwards;
}

@mixin cb-scene-builder-left-panel-block {
    padding: 0 16px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
