[cardboard-data-theme='light'] {
    --color-bg-canvas: #fff;
    --color-bg-canvas-inset: #cacacac4;
    --color-text-primary: #000;
    --color-theme-primary: #0078d4;
}

[cardboard-data-theme='dark'] {
    --color-bg-canvas: #0d0f0e;
    --color-bg-canvas-inset: #4949499e;
    --color-text-primary: #fff;
    --color-theme-primary: #058bf2;
}
