@import '~@fluentui/react/dist/sass/References'; // Import Fluent UI mixins and variables.

*[class^='cb-'] {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cb-tsicomponent-container {
    height: 100%;
    width: 100%;
}

.cb-base-info-wrapper,
.cb-base-catastrophic-error-wrapper {
    align-items: center;
    background-color: var(--cb-color-bg-canvas);
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 3;
}
.cb-base-catastrophic-error-box {
    background: var(--cb-color-bg-canvas-inset);
    border-radius: 3px;
    padding: 20px;
}
.cb-base-catastrophic-error-message {
    color: var(--cb-color-text-danger);
    font-weight: 700;
}
