[cardboard-data-theme='light'],
:root {
    --cb-color-bg-canvas: #fff;
    --cb-color-bg-canvas-inset: #cacacac4;
    --cb-color-inactive: #afafaf;
    --cb-color-text-danger: #cb2431;
    --cb-color-success: #32a852;
    --cb-color-card-contrast: #f2f2f2;
    --cb-color-input-border: #ccc;
    --cb-color-card-border: #ddd;
    --cb-color-text-primary: 0, 0, 0;
    --cb-color-theme-primary: #0078d4;
    --cb-color-bg-card: #f9f9f9;
}

[cardboard-data-theme='dark'] {
    --cb-color-bg-canvas: #0d0f0e;
    --cb-color-bg-canvas-inset: #4949499e;
    --cb-color-inactive: #afafaf;
    --cb-color-text-danger: #f85149;
    --cb-color-success: #32a852;
    --cb-color-card-contrast: #232323;
    --cb-color-input-border: #777;
    --cb-color-card-border: #4949499e;
    --cb-color-text-primary: #fff;
    --cb-color-theme-primary: #058bf2;
    --cb-color-bg-card: #2c2c2c;
}
