@import '../../Resources/Styles/BaseStyles';

.cb-scene-list-card-wrapper {
    .cb-base-composite-card-items {
        flex-direction: column;
        width: 100%;
    }
    .cb-base-composite-card {
        background-color: var(--cb-color-bg-card);
        padding: 20px 0 40px;
    }
    .cb-base-composite-card-title {
        font-size: 18px;
        font-weight: 400;
        padding-left: 8px;
    }
    .cb-base-composite-card-item {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-right: 20px;
    }
    .cb-scene-list-empty {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 40px 0 25px;
    }
    .cb-scene-list-empty .cb-scenes-list-empty-button {
        margin: 10px 0;
    }
    .cb-scenes-action-button {
        height: 20px;
    }
    .cb-scene-list-row {
        cursor: pointer;
    }
    .cb-scene-list-blob-urls {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .cb-scene-list-action-buttons {
        border-bottom: 1px solid var(--cb-color-natural-light);
    }

    .cb-scenes-list {
        overflow: auto;
    }
}

.cb-scene-list-dialog-wrapper {
    .cb-drop-files-container {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        padding: 20px 20px 28px;
        width: 100%;
    }

    .cb-scene-list-form-dialog-3d-file-dropzone-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8px 0;

        span {
            font-weight: 600;
            padding-top: 4px;
            text-align: center;
        }
    }

    .cb-scene-list-form-dialog-3d-file-dropzone-icon {
        height: 114px;
        padding-right: 24px;
    }

    .cb-scene-list-form-dialog-3d-file-upload-progress {
        display: flex;
        flex-direction: row;
        height: 44px;
        width: 100%;
    }

    @keyframes show-scroll-y {
        from {
            overflow-y: hidden;
        }
        to {
            overflow-y: auto;
        }
    }
}

.cb-scene-list-form-dialog-text-field {
    padding-bottom: 12px;
}

.cb-scene-list-form-dialog-3d-file-pivot-label {
    display: inline-block;
    &::after {
        color: var(--cb-color-text-error);
        content: ' *';
        padding-right: 12px;
    }
}

.cb-scene-list-form-dialog-3d-file-note {
    padding-top: 12px;

    .cb-scene-list-form-dialog-3d-file-exists-message {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
