@import '../../../Resources/Styles/BaseStyles';

.cb-lkvpg-wrapper {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;

    .cb-img-wrapper {
        height: 100%;
        width: 100%;
    }
    .cb-lkv-wrapper {
        height: 100%;
        position: absolute;
        width: 100%;
    }
    .cb-lkv-value {
        @include ms-depth-8;
        background: var(--cb-color-bg-canvas);
        border: 3px solid transparent;
        border-radius: 3px;
        color: var(--cb-color-text-primary);
        display: inline-block;
        font-size: 13px;
        padding: 6px;
        position: absolute;
        transition: border 0.5s ease;
    }

    .cb-lkv-value-pulse {
        border: 3px solid var(--cb-color-theme-primary);
    }

    .cb-lkv-value-title {
        font-weight: 600;
        padding-bottom: 2px;
        text-transform: capitalize;
    }
    .cb-lkv-subvalues {
        display: flex;
    }
    .cb-lkv-subvalue {
        display: block;
        font-size: 13px;
        margin: 4px 8px 0 0;
    }
    .cb-lkv-subvalue-title {
        font-weight: 600;
        text-transform: capitalize;
    }
    .cb-lkv-subvalue-value {
        opacity: 0.8;
    }
}
