@import '../../../Resources/Styles/BaseStyles';

.cb-base-card-content {
    flex-direction: column;
    padding: 20px 0 !important;
}

.cb-adt-hierarchy-search {
    margin: 0 20px 16px;
    width: calc(100% - 40px);
}
