@import '../../Resources/Styles/BaseStyles';

.cb-value-range-builder-container {
    background-color: var(--cb-color-bg-canvas);
    color: var(--cb-color-text-primary);
}
.cb-value-range-container {
    .cb-color-select-button {
        margin-bottom: 2px;
    }
}
.cb-value-range-and-messaging-row-container {
    margin-bottom: 8px;
}
.cb-value-range-validation-error {
    color: var(--cb-color-text-danger);
    font-size: 12px;
    margin-top: 2px;
}
.cb-range-boundary {
    display: flex;
    flex-direction: column;
}
.cb-range-boundary-label {
    font-size: 14px;
    font-weight: 600;
}
.cb-range-boundary-input-container {
    position: relative;
}
.cb-value-range-input {
    background-color: var(--cb-color-bg-canvas);
    border: 1px solid var(--cb-color-input-border);
    border-radius: 2px;
    color: var(--cb-color-text-primary);
    font-size: 14px;
    height: 32px;
    padding: 0px 32px 0px 8px;
    padding-right: 32px;
    user-select: text;
    width: 100px;
    &.cb-value-range-input-invalid {
        border: 1px solid var(--cb-color-text-danger);
    }
}
.cb-value-range-input-infinity-button {
    align-items: center;
    background-color: unset;
    border: unset;
    bottom: 0;
    cursor: pointer;
    display: flex;
    font-size: 14;
    height: 32px;
    justify-content: center;
    padding: unset;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    path {
        fill: var(--cb-color-theme-primary);
    }
    &.cb-value-range-negative-infinity {
        margin-right: 4px;
    }
    &.cb-value-range-negative-infinity {
        &::before {
            color: var(--cb-color-theme-primary);
            content: '-';
            cursor: pointer;
            margin-bottom: 4px;
            margin-right: 4px;
        }
    }
}
