.cb-adt-3dviewer-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
}

.cb-adt-3dviewer-render-mode-dropdown {
    left: 10px;
    position: absolute;
    top: 10px;
}

.cb-adt-3dviewer-popup {
    background-color: var(--cb-color-bg-canvas);
    border-color: var(--cb-color-input-border);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: move;
    left: 20px;
    padding: 20px;
    pointer-events: auto;
    position: absolute;
    top: 20px;
}

.cb-adt-3dviewer-popup-container {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.cb-adt-3dviewer-popup-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.cb-adt-3dviewer-line-canvas {
    background-color: transparent;
}

.cb-layer-dropdown-container {
    position: absolute;
    right: 200px;
    top: 8px;
}
