@font-face {
    font-family: 'iconFont';
    src: local('segmdl2'), url('./segmdl2.ttf');
}

.cb-adt-3dviewer-wrapper {
    height: 100%;
    overflow: hidden;
}

.cb-adt-3dviewer-tool-button-container {
    display: flex;
    left: 8px;
    position: absolute;
    top: 4px;
    z-index: 1;
}
