@font-face {
    font-family: 'iconFont';
    src: local('segmdl2'), url('./segmdl2.ttf');
}

.cb-sceneview-wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.cb-sceneview-wrapper-wide {
    height: 100%;
    overflow: hidden;
    width: calc(100% + 360px);
}
