@import '../../Resources/Styles/BaseStyles';

.cb-geospatial-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .cb-gs-value-pulse {
        border: 3px solid var(--cb-color-theme-primary);
    }

    .cb-gs-value-title {
        font-weight: 600;
        padding-bottom: 2px;
        text-transform: capitalize;
    }
    .cb-gs-subvalues {
        display: flex;
    }
    .cb-gs-subvalue {
        display: block;
        font-size: 13px;
        margin: 4px 8px 0 0;
    }
    .cb-gs-subvalue-title {
        font-weight: 600;
        text-transform: capitalize;
    }
    .cb-gs-subvalue-value {
        opacity: 0.8;
    }
}
