@import '../../Resources/Styles/BaseStyles';

.cb-datapusher-container {
    height: 100%;
    padding: 0 20px;
    position: relative;
    width: 100%;
    .cb-adt-data-pusher {
        height: calc(100% - 52px);
        overflow-y: auto;
    }
    .cb-form-field-description {
        margin-bottom: 8px;
        max-width: 600px;
    }
    .cb-datapusher-footer {
        background-color: var(--cb-color-bg-canvas);
        bottom: 0;
        left: 20;
        position: absolute;
        right: 20;
    }
}
