@import '../../Resources/Styles/BaseStyles';

.cb-datapusher-container {
    height: 100%;
    padding: 0 20px;
    position: relative;
    width: 100%;
    .cb-adt-data-pusher {
        height: calc(100% - 52px);
        overflow-y: auto;
    }
    .cb-form-field-description {
        max-width: 600px;
    }
    .cb-datapusher-footer {
        background-color: var(--cb-color-bg-canvas);
        bottom: 0;
        left: 20px;
        overflow: hidden;
        position: absolute;
        right: 20px;
    }
    .cb-live-stream-data-form-container,
    .cb-other-options-form-container,
    .cb-quick-fill-data-form-container {
        margin-bottom: 8px;
    }
}
