@import '../../Resources/Styles/BaseStyles';

.cb-oat-graph-viewer-container {
    height: 80vh;
}

.cb-oat-graph-viewer-button {
    z-index: 100;
}

.cb-oat-graph-viewer-node {
    background: var(--cb-color-natural-light);
    border: 1px solid var(--cb-color-input-border);
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
}
