@import '../../Resources/Styles/BaseStyles';

.cb-ontology-graph-viewer-container {
    height: 80vh;
}

.react-flow__node-ModelNode {
    font-size: 12px;
    background: #eee;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
}
