@import '../../Resources/Styles/BaseStyles.scss';

.cb-base-adapter-component {
    width: 100%;
    height: 100%;
}

.cb-base-adapter-component-loading-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
