@import '../../../../Resources/Styles/BaseStyles';

.cb-base-composite-card-wrapper {
    @include ms-depth-16;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;
    padding: 20px;

    .cb-base-composite-card {
        background: var(--cb-color-bg-canvas);
        border: 1px solid var(--cb-color-card-border);
        border-radius: 4px;
        color: var(--cb-color-text-primary);
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .cb-base-composite-card-title {
        text-align: left;
        border-bottom: 1px solid var(--cb-color-bg-canvas-inset);
        font-size: 14px;
        font-weight: 600;
        height: 40px;
        margin: 0;
        padding: 0 16px;
        width: 100%;
        line-height: 40px;
    }
    .cb-base-composite-card-content {
        width: 100%;
        flex-grow: 1;
        overflow: auto;
        position: relative;
    }

    .cb-base-composite-card-items {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 20px;
    }

    .cb-base-composite-card-item {
        flex: 1 1 auto;
        height: 100%;
        overflow: auto;
        /* stylelint-disable-next-line */
        .cb-base-card {
            border: 1px solid var(--cb-color-bg-canvas-inset);
            box-shadow: none;
        }
    }

    .cb-base-composite-card-item:not(:first-child) {
        padding-left: 20px;
    }
}
