@import '../../../../Resources/Styles/BaseStyles';

.cb-base-composite-card-wrapper {
    @include ms-depth-16;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;

    .cb-case-composite-card {
        align-items: center;
        background: var(--cb-color-bg-canvas);
        border: 1px solid var(--cb-color-card-border);
        border-radius: 4px;
        color: var(--cb-color-text-primary);
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
    }

    .cb-base-card-title {
        align-items: center;
        border-bottom: 1px solid var(--cb-color-bg-canvas-inset);
        display: flex;
        font-size: 14px;
        font-weight: 600;
        height: 40px;
        margin: 0;
        padding: 0 16px;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .cb-base-card-content {
        align-items: center;
        display: flex;
        height: calc(100% - 40px);
        justify-content: center;
        overflow: auto;
        padding: 20px;
        position: absolute;
        top: 40px;
        width: calc(100%);
    }

    .cb-base-composite-card-items {
        display: flex;
        height: 100%;
        padding: 0 20px;
        width: 100%;
    }

    .cb-base-composite-card-item {
        flex-grow: 1;
        height: 100%;
        /* stylelint-disable-next-line */
        .cb-base-card {
            border: 1px solid var(--cb-color-bg-canvas-inset);
            box-shadow: none;
        }
    }

    .cb-base-composite-card-item:not(:first-child) {
        margin-left: 20px;
    }
}
