@import '../../../../Resources/Styles/BaseStyles';

.cb-base-composite-card-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;

    .cb-base-composite-card {
        background: var(--cb-color-bg-canvas);
        border-radius: 4px;
        color: var(--cb-color-text-primary);
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .cb-base-composite-card-title {
        font-size: 16px;
        font-weight: 600;
        height: 40px;
        line-height: 40px;
        margin: 0;
        text-align: left;
        width: 100%;
    }

    .cb-base-composite-card-content {
        flex-grow: 1;
        overflow: auto;
        position: relative;
        width: 100%;
    }

    .cb-base-composite-card-items {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .cb-base-composite-card-item {
        flex: 1 1 auto;
        height: 100%;
        overflow: auto;
        min-width: 240px;

        .cb-base-card {
            border: 1px solid var(--cb-color-bg-canvas-inset);
            box-shadow: none;
        }
    }

    .cb-base-composite-card-item:not(:first-child) {
        padding-left: 20px;
    }
}
