.cb-color-select-root {
    align-self: flex-end;
}
.cb-color-select-button {
    border: 1px solid var(--cb-color-input-border);
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    width: 28px;
}
