@import '../../Resources/Styles/BaseStyles';

.cb-ontology-model-list {
    border: 1px;
    border-color: var(--cb-color-theme-primary);
    border-style: solid;
    padding: 5px;
    margin: 5px;
}
