@import '../../Resources/Styles/BaseStyles';

.cb-adt-model-uploader-wrapper {
    height: 100%;
    width: 100%;
}

.cb-adt-model-uploader {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 20px;
    position: relative;
    width: 100%;

    .cb-file-uploader {
        flex-grow: 1;
        padding-bottom: 20px;
    }

    .cb-adt-model-uploader-footer {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        max-height: 44px;
        width: 100%;
    }

    .cb-adt-model-uploader-progress-message {
        flex-grow: 1;
        height: 100%;
        margin-right: 20px;
        overflow: auto;
    }

    .cb-adt-model-uploader-button {
        min-height: 32px;
        min-width: 120px;

        span {
            line-height: 32px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    }
}
