.cb-modelsearch-container {
    padding: 8px;
    .cb-ms-info-togglebar {
        display: flex;
        width: 100%;
    }
    .cb-ms-info-togglebar-description {
        flex: 3;
        font-style: italic;
        margin-right: 8px;
    }
    .cb-ms-info-togglebar-description-link {
        padding: 0 4px;
    }
    .cb-ms-info-togglebar-toggle {
        align-items: flex-start;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }
}
// Outside of container because this class needs to override a fluent style
.cb-modelsearch-json-preview-scroll {
    overflow-y: unset;
}
