.cb-modelsearch-container {
    .cb-ms-searchbar,
    .cb-ms-togglebar {
        display: flex;
        padding: 0 20px;
        width: 100%;
    }
    .cb-ms-searchbox {
        flex-grow: 1;
        margin-right: 8px;
    }
}
