@import '../../Resources/Styles/BaseStyles';

.cb-hierarchy-component-wrapper {
    font-size: 14px;
    height: 100%;
    overflow-y: auto;
    width: 100%;

    .cb-hierarchy-node-wrapper {
        list-style: none;
    }

    .cb-hierarchy-node {
        cursor: pointer;
        position: relative;
    }

    .cb-hierarchy-component-list-group {
        margin: 0;
        padding-left: 20px;
    }

    .cb-hierarchy-node-name-wrapper {
        align-items: center;
        display: flex;
        height: 28px;
        line-height: 28px;
        margin-left: -20px;
        padding-left: 20px;
        padding-left: 0;
        position: relative;
        width: calc(100% + 20px);
    }

    .cb-hierarchy-node-name-wrapper:hover:not(.cb-hierarchy-show-more) {
        background: var(--cb-color-card-contrast);
    }

    .cb-hierarchy-node-name-wrapper.cb-selected {
        background: var(--cb-color-bg-canvas-inset);
    }

    .cb-hierarchy-node-name-wrapper.cb-hierarchy-show-more {
        color: var(--cb-color-theme-primary);
    }

    .cb-hierarchy-node-name {
        padding-right: 8px;
    }

    .cb-hierarchy-parent-node {
        padding-left: 40px;
    }
    .cb-hierarchy-child-node {
        font-weight: 600;
        margin-left: -40px;
        padding-left: 48px;
        width: calc(100% + 40px);
    }

    .cb-hierarchy-child-count {
        font-size: 11px;
        opacity: 0.6;
        padding-right: 8px;
        position: relative;
        top: 0.5px;
    }

    .cb-chevron {
        display: inline-block;
        font-family: 'FabricMDL2Icons' !important;
        font-size: 12px;
        pointer-events: none;
        position: absolute;
        top: 8px;
        transition: all 0.2s ease;
        z-index: 1;

        &.cb-collapsed {
            transform: rotate(0deg);
        }

        &.cb-expanded {
            transform: rotate(90deg);
        }
    }

    .cb-hierarchy-no-results {
        font-size: 12px;
        padding: 20px;
    }
}
