@import '../../Resources/Styles/BaseStyles';

.cb-ontology-body-container {
    display: grid;
    grid-template-columns: 100%;
    height: 5%;

    .cb-ontology-body-component {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        height: 100%;
    }
}
