@import '../../Resources/Styles/BaseStyles';

.cb-ontology-body-container {
    height: 100%;

    .cb-ontology-body-component {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        height: 100%;
        padding-top: 48px;
    }
}
