.cb-scene-page-warning-message {
    margin-top: 14px;
}
.cb-message-bar-container {
    height: fit-content;
}
.error-title {
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.error-message {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
