.cb-scene-page-warning-message {
    margin-top: 14px;
}
.cb-message-bar-container {
    height: fit-content;
}
.cb-error-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
.cb-error-message {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
