@import '../../../Resources/Styles/BaseStyles';

.cb-model-authoring-card-wrapper {
    height: 100%;
    min-height: 0;
    width: 100%;
}

.cb-model-authoring-card-upload-files {
    width: 800px;
    height: 520px;
}
