.cb-overlay-outer {
    align-items: center;
    background-color: var(--cb-color-bg-canvas);
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 3;
}
.cb-overlay-inner {
    background: var(--cb-color-bg-canvas-inset);
    border-radius: 3px;
    padding: 20px;
}
