@import '../../../Resources/Styles/BaseStyles';

.cb-scene-list-card-wrapper {
    .cb-base-composite-card-items {
        flex-direction: column;
        width: 100%;
    }
    .cb-base-composite-card {
        background-color: var(--cb-color-bg-card);
        padding: 20px 0 40px;
    }
    .cb-base-composite-card-title {
        padding-left: 20px;
        padding-right: 20px;
    }
    .cb-base-composite-card-item {
        padding-left: 20px;
        padding-right: 20px;
    }
    .cb-scene-list-empty {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 40px 0 25px;
    }
    .cb-scene-list-empty .cb-scenes-list-empty-button {
        margin: 10px 0;
    }
    .cb-scenes-action-button {
        height: 20px;
    }
    .cb-scene-list-row {
        cursor: pointer;
    }
    .cb-scene-list-blob-urls {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.cb-scene-list-dialog-buttons {
    margin-top: 10px;
}

.cb-scene-list-form-dialog-text-field {
    padding-bottom: 12px;
}
