@import '../../../Resources/Styles/BaseStyles';

.cb-scenes-list-card-wrapper {
    .cb-base-composite-card-items {
        flex-direction: column;
        width: 100%;
    }
    .cb-base-composite-card {
        background-color: var(--cb-color-bg-card);
        padding: 20px 0 40px;
    }
    .cb-base-composite-card-title {
        padding-left: 20px;
        padding-right: 20px;
    }
    .cb-base-composite-card-item {
        padding-left: 20px;
        padding-right: 20px;
    }
    .cb-scenes-list-empty {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 40px 0 25px;
    }
    .cb-scenes-list-empty .cb-scenes-list-empty-button {
        background-color: #457bb9;
        color: #fff;
        font-style: italic;
        font-weight: 400;
        margin: 10px 0;
    }
}

.cb-scenes-list-dialog-wrapper .cb-scenes-list-dialog-buttons {
    margin: 10px 10px 0 0;
}
