@import '../../../Resources/Styles/BaseStyles';

.cb-scenes-list-card-wrapper {
    .cb-base-composite-card-items {
        flex-direction: column;
        width: 100%;
    }
    .cb-base-composite-card {
        background-color: var(--cb-color-bg-card);
        padding: 20px 0 40px;
    }

    .cb-base-composite-card-title {
        padding-left: 20px;
        padding-right: 20px;
    }
    .cb-base-composite-card-item {
        padding-left: 20px;
        padding-right: 20px;
    }
}
