.cb-mbcard-wrapper {
    width: 100%;
    height: 100%;

    .cb-base-composite-card {
        background-color: var(--cb-color-bg-card);
    }

    .cb-base-composite-card-item:nth-child(1) {
        flex-grow: 0;
    }

    .cb-mbcard-list {
        height: 100%;
        width: 300px;

        .cb-base-card-content {
            top: 0;
        }

        .cb-hierarchy-node-name-wrapper {
            height: 32px;
        }
    }

    .cb-commandBar {
        margin-left: -32px;
        border: 1px solid var(--cb-color-bg-canvas-inset);
    }

    .cb-mbcard-form {
        height: 100%;

        .cb-modelcreate-container {
            padding-top: 12px;
            height: calc(100% - 46px);
            overflow: auto;
        }
    }
}
