@import '../../Resources/Styles/BaseStyles';

.cb-bim-upload-container {
    height: 100%;
    width: 100%;
    .cb-pre-upload-container {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

    .cb-assets-container,
    .cb-bim-viewer-container {
        height: 100%;
        position: relative;
        width: 50%;
    }

    .cb-ghost {
        height: 1px;
        left: -90000px;
        overflow: hidden;
        position: absolute;
        top: -9000px;
        width: 1px;
        z-index: -999;

        * {
            display: none !important;
        }
    }

    .cb-upload-progress {
        .cb-progress-text {
            font-weight: normal;
        }
    }

    .cb-loading-models-text {
        font-size: 16px;
        font-weight: normal;
        text-align: center;
    }

    .cb-section-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: hidden;
        padding: 0 20px;
        position: relative;
        width: 100%;
    }

    .cb-section-content {
        flex-grow: 1;
        overflow-y: auto;
    }

    .cb-section-header {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 16px;
    }

    .cb-section-subheader {
        font-size: 14px;
    }

    .cb-bim-file-selection {
        max-width: 600px;
    }

    .cb-model-checkbox {
        margin-bottom: 8px;
    }

    .cb-selected-count {
        font-style: italic;
        margin-bottom: 8px;
        margin-top: 16px;
    }

    .cb-initiate-upload-button {
        margin-top: 16px;
    }

    .cb-model-selection-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .cb-checkbox-container {
        overflow-y: auto;
    }

    .cb-navigation-buttons {
        border-top: 1px solid #edebe9;
        display: flex;
        flex-direction: row-reverse;
        margin: 0 -16px -16px;
        padding: 16px;
    }

    .cb-navigation-button {
        margin: 0 4px;
    }

    .cb-bim-file-selection-container {
        width: 100%;
    }

    .cb-no-models-error {
        margin-top: 16px;
    }

    .cb-bim-input,
    .cb-bim-input-label,
    .cb-bim-input-submit {
        display: block;
    }

    .cb-bim-input-label {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 4px;
        margin-top: 24px;
    }

    .cb-bim-input {
        border: 1px solid #dadada;
        border-radius: 2px;
        border-width: 1px;
        height: 32px;
        margin-bottom: 8px;
        padding: 8px;
        width: 100%;
    }

    .cb-post-upload {
        margin-top: 16px;
        text-align: center;
    }

    .cb-navigate-icon {
        margin-left: 8px;
    }

    .cb-model-twin-count {
        margin-left: 4px;
        opacity: 0.6;
    }
}
