@import '../../../Resources/Styles/BaseStyles';

.cb-scene-builder-card-wrapper {
    height: 100%;
    width: 100%;

    .cb-scene-builder-canvas {
        height: 100%;
    }

    .cb-base-composite-card-item {
        overflow: hidden;
    }

    .cb-base-composite-card-item:last-child {
        flex-grow: 1;
    }
}

.cb-scene-builder-left-panel {
    height: 100%;
    width: 360px;

    .cb-scene-builder-left-panel-text {
        font-size: 12px;
        opacity: 0.6;
        padding: 0 4px;
    }

    .cb-scene-builder-left-panel-create-wrapper {
        animation: 0.4s slide-in ease-in-out;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 12px 8px 0;
        width: 100%;
    }

    .cb-scene-builder-left-panel-create-form-header {
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
    }

    .cb-scene-builder-left-panel-create-form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;
    }

    .cb-scene-builder-left-panel-create-form-contents {
        padding: 16px 0;
    }

    .cb-scene-builder-left-panel-element-objects {
        border-top: 1px solid #edebe9;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;
        padding: 12px 0;
    }

    .cb-scene-builder-left-panel-element-objects-header {
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 12px;

        span {
            padding-left: 4px;
        }
    }

    .cb-scene-builder-pivot-contents {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .cb-scene-builder-element-list,
    .cb-scene-builder-behavior-list {
        flex-grow: 1;
        margin-bottom: 16px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 16px 16px 0 0;
    }

    .cb-scene-builder-left-panel-element,
    .cb-scene-builder-left-panel-behavior {
        align-items: center;
        display: flex;
        height: 32px;
        line-height: 32px;
        margin-left: -8px;
        padding-left: 16px;
        width: calc(100% + 16px);

        .cb-scene-builder-element-name,
        .cb-scene-builder-behavior-name {
            font-size: 14px;
            padding-left: 8px;
        }
    }

    .cb-selected-element,
    .cb-scene-builder-left-panel-element:hover,
    .cb-scene-builder-left-panel-behavior:hover {
        background: var(--cb-color-card-contrast);
        cursor: pointer;
        filter: unset;
    }

    .cb-element-name-wrapper {
        align-items: center;
        display: flex;
        flex-grow: 1;
    }

    .cb-scene-builder-create-button {
        height: 32px;
        max-width: 200px;
        min-height: 32px;
        width: fit-content;
    }

    .cb-scene-builder-left-panel-element-objects-container {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
    }

    .cb-scene-builder-left-panel-element-object-list {
        list-style: none;
        margin: 0;
        padding-left: 16px;
        width: 100%;

        .cb-scene-builder-left-panel-element-object {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 4px 8px 0;

            &:hover {
                cursor: pointer;
            }
        }

        .cb-mesh-name-wrapper {
            align-items: center;
            display: flex;
        }

        .cb-mesh-name {
            font-size: 14px;
            padding-left: 6px;
        }
    }

    .cb-element,
    .cb-behavior-icon {
        display: inline-block;
        font-size: 12px;
    }

    .cb-scene-builder-left-panel-create-form-actions {
        align-items: end;
        display: flex;
        height: 36px;
    }

    .cb-chevron {
        display: inline-block;
        font-size: 12px;

        &.cb-expanded {
            transform: rotate(90deg);
        }

        &.cb-collapsed {
            transform: rotate(0deg);
        }
    }

    .cb-breadcrumb {
        padding-left: 4px;
        transform: rotate(180deg);
    }

    .cb-remove-object-button {
        color: var(--cb-color-inactive);
        &:hover {
            color: var(--cb-color-text-danger) !important;
        }
    }
}

.cb-scene-builder-left-panel-pivot {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    > div:last-child {
        display: flex;
        flex-grow: 1;
        overflow: auto;

        > div:first-child {
            flex-grow: 1;
        }
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
