@import '../../../Resources/Styles/BaseStyles';

.cb-scene-builder-card-wrapper {
    height: 100%;
    width: 100%;

    .cb-scene-builder-canvas {
        height: 100%;
    }

    .cb-base-composite-card-item {
        overflow: hidden;
    }

    .cb-base-composite-card-item:last-child {
        flex-grow: 1;
    }
}

.cb-scene-builder-left-panel {
    height: 100%;
    width: 360px;

    .cb-scene-builder-left-panel-text {
        font-size: 12px;
        opacity: 0.6;
        padding: 0 4px;
    }

    .cb-scene-builder-left-panel-create-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 12px 8px 0;
        width: 100%;
    }

    .cb-scene-builder-left-panel-create-form-header {
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
    }

    .cb-scene-builder-left-panel-create-form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;
        padding-right: 4px;
    }

    .cb-scene-builder-left-panel-create-form-contents {
        padding: 8px 0 16px;
    }

    .cb-scene-builder-left-panel-element-objects {
        border-top: 1px solid #edebe9;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;
        padding: 12px 0;
    }

    .cb-scene-builder-left-panel-element-objects-header {
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 12px;

        span {
            padding-left: 4px;
        }
    }

    .cb-scene-builder-pivot-contents {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .cb-scene-builder-pivot-contents-elements {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding-top: 15px;
    }

    .cb-scene-builder-element-search-header {
        display: flex;
    }

    .cb-scene-builder-element-search-box {
        flex: 1;
        margin-right: 5px;
    }

    .cb-scene-builder-element-spacer {
        background-color: #edebe9;
        height: 1px;
        margin-bottom: -10px;
        margin-top: 15px;
    }

    .cb-scene-builder-element-checkbox {
        margin-right: 5px;
        margin-left: -8px;
    }

    .cb-scene-builder-cancel-button {
        margin-left: 10px;
    }

    .cb-scene-builder-element-list,
    .cb-scene-builder-behavior-list {
        flex-grow: 1;
        margin-bottom: 16px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 16px 16px 0 0;
    }

    .cb-scene-builder-left-panel-element,
    .cb-scene-builder-left-panel-behavior {
        align-items: center;
        display: flex;
        height: 32px;
        line-height: 32px;
        margin-left: -8px;
        padding-left: 16px;
        width: calc(100% + 16px);

        .cb-scene-builder-element-name,
        .cb-scene-builder-behavior-name {
            font-size: 14px;
            padding-left: 8px;
        }
    }

    .cb-selected-element,
    .cb-scene-builder-left-panel-element:hover,
    .cb-scene-builder-left-panel-behavior:hover {
        background: var(--cb-color-card-contrast);
        cursor: pointer;
        filter: unset;
    }

    .cb-element-name-wrapper {
        align-items: center;
        display: flex;
        flex-grow: 1;
    }

    .cb-scene-builder-create-button {
        height: 32px;
        max-width: 200px;
        min-height: 32px;
        width: fit-content;
    }

    .cb-scene-builder-left-panel-element-objects-container {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
    }

    .cb-scene-builder-left-panel-element-object-list {
        list-style: none;
        margin: 0;
        padding-left: 16px;
        width: 100%;

        .cb-scene-builder-left-panel-element-object {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 4px 8px 0;

            &:hover {
                cursor: pointer;
            }
        }

        .cb-mesh-name-wrapper {
            align-items: center;
            display: flex;
        }

        .cb-mesh-name {
            font-size: 14px;
            padding-left: 6px;
        }
    }

    .cb-element,
    .cb-behavior-icon {
        display: inline-block;
        font-size: 12px;
    }

    .cb-scene-builder-left-panel-create-form-actions {
        align-items: end;
        display: flex;
        height: 36px;
    }

    .cb-chevron {
        display: inline-block;
        font-size: 12px;

        &.cb-expanded {
            transform: rotate(90deg);
        }

        &.cb-collapsed {
            transform: rotate(0deg);
        }
    }

    .cb-breadcrumb {
        padding-left: 4px;
        transform: rotate(180deg);
    }

    .cb-remove-object-button {
        color: var(--cb-color-inactive);
        &:hover {
            color: var(--cb-color-text-danger) !important;
        }
    }

    .cb-widget-panel-label {
        font-weight: normal;
    }

    .cb-widget-panel-container {
        display: flex;
        flex-direction: column;
    }

    .cb-widget-panel-list-container {
        align-items: center;
        display: flex;
        padding-left: 5px;
    }

    .cb-widget-panel-list-container:hover {
        background-color: var(--cb-color-card-contrast);
    }

    .cb-widget-panel-list-label {
        font-weight: normal;
        margin: 0 6px;
    }

    .cb-widget-panel-flex1 {
        flex: 1;
    }

    .cb-widget-panel-action-button {
        color: var(--cb-color-theme-primary);
        margin-left: -10px;
    }
}

.cb-widget-dialog-search-box {
    margin-top: 10px;
}

.cb-widget-dialog-list-item {
    border: 1px solid var(--cb-color-text-primary);
    float: left;
    height: 82px;
    margin: 10px;
    padding: 4px;
    width: 272px;
    &:hover {
        background: var(--cb-color-card-contrast);
        cursor: pointer;
    }
}

.cb-widget-library-dialog-list-container {
    height: 204px;
}

.cb-widget-dialog-list-item-selected {
    border: 2px solid var(--cb-color-theme-primary);
}

.cb-widget-panel-clear-float::after {
    clear: both;
    content: '';
    display: table;
}

.cb-widget-dialog-list-item-content {
    display: flex;
}

.cb-widget-dialog-icon {
    color: var(--cb-color-bg-canvas);
    font-size: 30px;
    margin: 10px;
}

.cb-widget-panel-list-icon {
    margin-top: 2px;
}

.cb-widget-dialog-icon-background {
    background-color: var(--cb-color-theme-primary);
    border-radius: 5px;
    height: 50px;
    margin: 8px 10px 6px 6px;
    width: 50px;
}

.cb-widget-dialog-modal {
    min-height: 445px;
    min-width: 740px;
}

.cb-widget-panel-no-widgets {
    height: 204px;
    padding: 20px;
}

.cb-widget-panel-item-label {
    font-size: smaller;
    font-weight: normal;
    padding: 0;
}

.cb-scene-builder-left-panel-pivot {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    > div:last-child {
        display: flex;
        flex-grow: 1;
        overflow: auto;

        > div:first-child {
            flex-grow: 1;
        }
    }
}

.cb-widget-builder-header-container {
    margin: 8px 0;
}

.cb-widget-builder-header {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    i {
        margin-right: 8px;
    }
}
.cb-widget-builder-subheader {
    color: var(--cb-color-inactive);
    font-size: 12px;
}

.cb-scene-builder-behavior-elements {
    margin-bottom: 20px;
    margin-top: 20px;
}

.cb-scene-builder-elements-title {
    font-size: 14px;
    margin-bottom: 10px;
}

.cb-scene-builder-done-button {
    height: 32px;
    max-width: 200px;
    min-height: 32px;
    width: fit-content;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
