@import '../../../Resources/Styles/BaseStyles';

.cb-adt-model-list-wrapper {
    height: 100%;
    width: 100%;

    .cb-base-card-content {
        flex-direction: column;
        padding: 20px 0 !important;
    }

    .cb-adt-model-list {
        flex-grow: 1;
        width: 100%;

        .cb-hierarchy-child-node {
            font-weight: unset !important;
        }

        .cb-hierarchy-component-list-group {
            padding-left: 12px !important;
        }
    }

    .cb-adt-model-list-actions {
        margin-top: -20px;
        padding: 8px 12px 0;
        width: 100%;
    }
}
