@import '../../Resources/Styles/BaseStyles';

.cb-property-inspector-container {
    height: 100%;
    padding: 8px 20px;
    width: 100%;
}

.cb-property-inspector-loading {
    min-height: 200px;
    padding-top: 20px;
}

.cb-property-inspector-button {
    height: 20px;
}
