@import '../../Resources/Styles/BaseStyles';

.cb-property-inspector-container {
    height: 100%;
    padding-left: 20px;
    width: 100%;
}

.cb-property-inspector-loading {
    min-height: 200px;
    padding-top: 20px;
}

.cb-property-inspector-callout {
    width: 320px;
    padding: '20px 24px';
}
