@import '../../Resources/Styles/BaseStyles';

.cb-standalone-property-inspector-container {
    background-color: var(--cb-color-bg-canvas);
    color: var(--cb-color-text-primary);
    height: 100%;
    min-width: 344px;
    overflow: hidden;
    width: 100%;
    .cb-standalone-property-inspector-header {
        align-items: center;
        display: flex;
    }
    .cb-standalone-property-inspector-header-label {
        flex-grow: 1;
        font-size: 12px;
    }
    .cb-missing-model-id-list {
        list-style: none;
        margin-bottom: 4px;
        padding-left: 0;
    }
}
