@import '../../../Resources/Styles/BaseStyles';

.cb-relationships-table-wrapper {
    height: 100%;
    overflow: auto;
    padding: 0 8px;
    width: 100%;

    .cb-relationships-table {
        border-collapse: collapse;
        position: relative;
        text-align: left;
        top: 0;
        width: 100%;
    }

    .cb-relationships-header-row {
        font-size: 12px;
        font-weight: 300;
        height: 32px;
        opacity: 0.6;
    }

    .cb-relationships-content-row {
        border-bottom: 1px solid var(--cb-color-bg-canvas-inset);
        font-size: 14px;
        height: 36px;
        &:last-of-type {
            border-bottom: 0;
        }
    }

    .cb-row-is-clickable {
        cursor: pointer;
        &:hover {
            background-color: var(--cb-color-card-contrast);
        }
    }

    .cb-relationships-content-row td {
        min-width: 80px;
        padding-right: 16px;
    }

    .cb-relationships-content-row td,
    .cb-relationships-header-row th {
        padding: 0 8px;
    }
}
