@import '../../Resources/Styles/BaseStyles';

.cb-label {
    align-items: center;
    display: flex;
}

.cb-required-icon::after {
    color: var(--cb-color-text-error);
    content: '*';
    padding: 0 4px;
}

.cb-search-autocomplete-desc {
    display: block;
    padding-top: 4px;
}

.cb-search-autocomplete-container {
    color: var(--cb-color-text-primary) !important;
    font-size: 14px;
    padding: 1px;

    input {
        min-width: 240px !important;
        opacity: 1 !important;
    }

    /* stylelint-disable selector-class-pattern */
    .cb-search-autocomplete__input {
        color: var(--cb-color-text-secondary) !important;
    }

    .cb-search-autocomplete__control {
        background-color: var(--cb-color-bg-canvas);
        border: 0;
        border-radius: 1px;
        font-size: 14px;
        font-weight: 400;
        min-height: 32px;
        outline: 1px solid !important;
        outline-color: var(--cb-color-input-border) !important;

        &.cb-search-autocomplete__control--is-focused {
            outline-color: var(--cb-color-theme-primary) !important;
        }
    }

    .cb-search-autocomplete__indicator {
        padding: 4px;
    }

    .cb-search-autocomplete__menu {
        background-color: var(--cb-color-bg-canvas);
        border-radius: 1px;
        margin: 0;
        min-height: 32px;
        outline: 1px solid !important;
        outline-color: var(--cb-color-input-border) !important;
        top: auto;
        width: calc(100% - 2px);
    }

    .cb-search-autocomplete__option {
        border-bottom: 1px solid var(--cb-color-natural-light);
        color: var(--cb-color-text-primary) !important;
        cursor: default;
        font-weight: 600;
        height: 32px;
        padding: 6px 12px;

        &.cb-search-autocomplete__option--is-focused {
            background: var(--cb-color-natural-light);
        }

        &.cb-search-autocomplete__option--is-selected {
            background: var(--cb-color-natural-light);
        }
    }

    .cb-search-autocomplete__menu-list {
        max-height: 300px;
        overflow-y: auto;
        padding: 0;
        position: relative;
    }

    .cb-search-autocomplete__menu-notice {
        align-items: center;
        display: flex;
        height: 32px;
        justify-content: center;
        line-height: 16px;
    }

    .cb-search-autocomplete__indicator {
        cursor: pointer;
        svg {
            fill: var(--cb-color-input-border);
        }
    }
    /* stylelint-enable selector-class-pattern */
}
