@import '../../Resources/Styles/BaseStyles';

.cb-search-autocomplete-container {
    .cb-search-autocomplete__menu-notice {
        align-items: center;
        display: flex;
        height: 32px;
        justify-content: center;
        line-height: 16px;
    }
    /* stylelint-enable selector-class-pattern */
}
