@import '../../../Resources/Styles/BaseStyles';

.cb-property-tree-container {
    font-size: 14px;
    position: relative;

    .cb-property-tree-list-group {
        margin: 0 4px;
        padding-left: 0;
        &.cb-is-child-tree {
            border-left: 1px dashed var(--cb-color-card-border);
            margin-left: 26px;
            padding-left: 12px;
        }
    }

    .cb-property-tree-list-item {
        cursor: default;
        list-style: none;
        margin: 8px 0;
        width: fit-content;
    }

    .cb-property-tree-node {
        align-items: center;
        display: flex;
        min-height: 24px;
    }

    .cb-property-tree-node-name {
        align-items: center;
        align-self: flex-start;
        display: inline-flex;
        margin-right: 8px;
        min-height: inherit;
        position: relative;
    }

    .cb-property-tree-node-name-edited {
        font-style: italic;
        font-weight: bold;
    }

    .cb-property-tree-parent-node {
        cursor: pointer;
    }

    .cb-property-tree-node-icon {
        align-items: center;
        display: flex;
        margin-right: 8px;
    }

    .cb-property-tree-parent-node-inset {
        display: inline-flex;
        margin-left: 20px;
    }

    .cb-chevron {
        display: inline-block;
        font-family: 'FabricMDL2Icons' !important;
        font-size: 12px;
        pointer-events: none;
        position: absolute;
        transition: all 0.2s ease;
        z-index: 1;

        &.cb-collapsed {
            transform: rotate(0deg);
        }

        &.cb-expanded {
            transform: rotate(90deg);
        }
    }

    .cb-property-tree-node-value {
        align-items: center;
        display: flex;
        margin-right: 4px;
        min-height: inherit;
        position: relative;
        user-select: text;

        input,
        textarea,
        select {
            background: transparent;
            border: 1px solid var(--cb-color-card-border);
            border-radius: 4px;
            color: var(--cb-color-text-primary);
            overflow: auto;

            &:focus {
                border: 1px solid var(--cb-color-theme-primary);
                outline: none;
            }
        }

        option {
            background-color: var(--cb-color-input-edited-bg);
        }

        input,
        textarea {
            padding: 2px 6px;
        }

        textarea {
            max-width: 600px;
            min-height: 17px;
            min-width: 92px;
            overflow: hidden;
        }
    }

    .cb-property-tree-node-value-edited {
        input,
        textarea,
        select {
            background-color: var(--cb-color-input-edited-bg);
        }
    }

    .cb-property-tree-node-value-unset {
        align-items: center;
        display: flex;
        font-size: 0.7em;
        font-style: italic;
        white-space: nowrap;
    }

    .cb-property-tree-node-map-value-tool-icon,
    .cb-property-tree-node-map-add-icon-container,
    .cb-property-tree-node-datetime-picker-icon-container,
    .cb-property-tree-node-set-unset-icon {
        align-items: center;
        border-radius: 4px;
        display: flex;
        height: 100%;
        justify-content: center;
        min-height: inherit;
        width: 24px;
        &:hover {
            background-color: var(--cb-color-icon-hover-bg);
        }
    }

    .cb-property-tree-node-map-value-tool-icon,
    .cb-property-tree-node-map-add-icon-container,
    .cb-property-tree-node-datetime-picker-icon-container {
        margin-left: 4px;
    }

    .cb-property-tree-node-map-add-icon-container {
        &.cb-add-map-disabled {
            &:hover {
                background-color: inherit;
            }
        }
    }

    .cb-property-tree-node-unit {
        font-size: 10px;
        font-style: italic;
        margin-right: 8px;
    }
    .cb-property-tree-node-name-metadata,
    .cb-property-tree-node-value-metadata {
        font-family: monospace;
    }
    .cb-property-tree-node-value-metadata,
    .cb-property-tree-node-value-readonly {
        cursor: text;
    }
    .cb-property-tree-node-name-floating,
    .cb-property-tree-node-value-floating {
        color: var(--cb-color-inactive);
        &.cb-property-tree-node-floating-strikethrough {
            text-decoration: line-through;
        }
    }
    .cb-property-tree-node-boolean-value-label {
        margin-left: 4px;
    }
    .cb-property-tree-node-datetime-picker-input {
        height: 21px;
        overflow: hidden !important;
        padding: 0 2px !important;
    }
    .cb-property-tree-node-name-text {
        white-space: nowrap;
    }
}

[cardboard-data-theme='explorer'] {
    ::-webkit-calendar-picker-indicator {
        filter: invert(0.75);
    }
}
