.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}
select {
    min-width: 120px;
}

.left > div,
button {
    padding: 12px;
}

button {
    background-color: #ffa500;
}

.left {
    height: 100%;
    width: 30%;
}

.right {
    height: 100%;
    width: 70%;
}

.right {
    align-items: center;
    background: #fafafa;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.preview-card {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 60%;
    width: 60%;
}
