.cb-elementslist-row {
    cursor: pointer;
}

.cb-readonly-row {
    pointer-events: none;
    background: transparent !important;
}

.cb-detail-list {
    overflow: hidden;

    .cb-detail-list-header-cell:hover {
        background: transparent;
    }
}
