@import '../../Resources/Styles/BaseStyles';

.cb-modelcreate-breadcrumb {
    margin-bottom: 16px;
}

.cb-modelcreate-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.cb-modelcreate-header {
    display: flex;
    justify-content: space-between;
}

.cb-modelcreate-title {
    display: block;
    font-weight: bold;
    margin-bottom: 12px;
}

.cb-form-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.cb-form-breadcrumbs {
    position: absolute;
    top: 10px;
    width: calc(100% - 72px);
}

.cb-form-main {
    flex-grow: 1;
    overflow: auto;

    .cb-modelcreate-title {
        padding-top: 12px;
    }
}

.cb-form-footer {
    display: flex;
    height: 50px;
    justify-content: flex-end;
    margin: 20px 0 0;
}

.cb-form-footer > button {
    margin-left: 8px;
}

.cb-noinformation-value {
    input,
    textarea,
    span {
        font-size: 13px;
        font-style: italic;
        opacity: 0.6;
    }
}
