.cb-upload-progress {
    position: relative;

    .cb-upload-sections-container {
        display: flex;
        height: 100%;
        padding: 16px;
        width: 100%;
    }

    .cb-progress-line {
        border-bottom: 0;
        border-top: 1px dashed #bababa;
        left: calc((100% - 32px) / 6);
        margin: 0 16px;
        position: absolute;
        top: 27px;
        width: calc((100% - 32px) * 2 / 3);
        z-index: -1;
    }

    .cb-upload-section {
        align-items: center;
        display: flex;
        flex-basis: 0;
        flex-direction: column;
        flex-grow: 1;
    }

    .cb-upload-section-header,
    .cb-upload-section-content {
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        text-align: center;
    }

    .cb-upload-type {
        display: flex;
        font-weight: 600;
        margin: 0;
        margin-bottom: 8px;
        margin-top: 8px;
    }
    .cb-status-phase-preupload {
        background-color: #f4f4f4;
        border-color: #bababa !important;
        color: #bababa;
    }

    .cb-status-phase-uploading {
        background-color: #f4f4f4;
        border-color: #015cda;
    }

    .cb-status-phase-uploading,
    .cb-upload-section-content {
        color: #015cda;
    }

    .cb-status-phase-succeeded {
        background-color: transparent;
        background-color: #fff;
        border-color: #36a643 !important;
        color: #36a643 !important;
    }

    .cb-status-phase-partiallyfailed {
        background-color: #fff;
        border-color: transparent;
        color: #d58e00;
        margin-bottom: 4px;
        margin-top: -4px;
    }

    .cb-status-phase-failed {
        background-color: #fff;
        border-color: #a50606 !important;
        color: #a50606 !important;
    }
    .cb-progress-status {
        border-radius: 24px;
        border-style: solid;
        border-width: 1px;
        height: 24px;
        text-align: center;
        width: 24px;
    }

    .cb-font-icon {
        margin-left: 1px;
        margin-top: 3px;
    }

    .cb-progress-icon {
        height: 24px;
        width: 24px;
    }

    .cb-status-message {
        font-style: italic;
        padding-left: 40px;
    }

    .cb-progress-ongoing {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .cb-progress-success {
        background-color: rgba(0, 255, 0, 0.4);
    }

    .cb-progress-failure {
        background-color: rgba(255, 0, 0, 0.4);
    }
}
