name: build
on:
    push:
        branches: [main, feature-Legion]
    pull_request:
        branches: [main, feature-Legion]
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '14'
                  cache: 'npm'
                  registry-url: 'https://registry.npmjs.org'

            - name: Install dependencies
              run: npm install

            # todo - lint only file deltas, not entire codebase (speeds up workflow)
            - name: Check code formatting and quality
              run: npm run lint:check
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '14'
                  cache: 'npm'
                  registry-url: 'https://registry.npmjs.org'

            - name: Install dependencies
              run: npm install

            - name: Verify rollup build succeeds
              run: npm run build

            - name: Verify storybook static build succeeds
              run: npm run storybook:export
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: '14'
                  cache: 'npm'

            - name: Install dependencies
              run: npm install

            - name: Verify all unit tests pass
              run: npm run test:ci
